

table {
    border-collapse: collapse;
    overflow: hidden;
}

#tbdatagrid {
    max-height: 200px;
}

th, td {
    padding: 15px;
    color: var(--branco);
}

th {
    text-align: left;
}

thead th {
    background-color: var(--azul-escuro-ter-background);
}

tr:hover:not(:first-child) {
    background-color: rgba(255, 255, 255, 0.3);
}

tr:not(:last-child) {
    position: relative;
    border-bottom: 1px solid var(--azul-escuro-ter-background);
}

.checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;
}