:root {
    --azul-escuro-pri-background : #010114;
    --azul-escuro-sec-background : #020227;
    --azul-escuro-ter-background : #011B3C;
    --azul-escuro-qua-background : #003552;

    --preto : #0000004d;

    --azul-claro-pri-background: #48CAE4;
    --azul-claro-sec-background: #90E0EF;
    --azul-claro-ter-background: #ADE8F4;
    --azul-claro-qua-background: #CAF0F8;

    --branco : #f4f4f4;
}

body {
    width: 100%;
    /* height: 100%; */
    overflow-x: hidden;
}

* {
    color: var(--branco);
}

.sidebar-navigation {
    min-height: 100vh;
    width: 50px;
    position: absolute;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar-navigation ul {
    text-align: center;
    list-style: none;
    height: 70%;
    margin-left: -50%;
    color: var(--azul-claro-qua-backgorund);
}

.sidebar-navigation ul li {
    padding: 10px;
    cursor: pointer;
    transition: all ease-out 120ms;
    background-color: var(--azul-escuro-qua-background);
    border-radius: 50%;
    width: 24px;
    height: 24;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0px;
}

.sidebar-navigation ul li i {
    display: block;
    font-size: 24px;
    transition: all ease 450ms;
}

.sidebar-navigation ul li .tooltip {
    display: inline-block;
    position: absolute;
    background-color: var(--azul-escuro-qua-background);
    padding: 8px 15px;
    border-radius: 3px;
    margin-top: -26px;
    left: 90px;
    opacity: 0;
    visibility: hidden;
    font-size: 13px;
    transition: all ease 450ms;
    letter-spacing: 0.5px;
}

.sidebar-navigation ul li .tooltip:before {
    content: "";
    display: block;
    position: absolute;
    left: -4px;
    top: 10px;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: inherit;
}

.sidebar-navigation ul li:hover {
    background-color: var(--azul-escuro-ter-background);
}

.sidebar-navigation ul li:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.sidebar-navigation ul li.active {
    background-color: var(--azul-escuro-ter-background);
}

.sidebar-navigation ul li.active i {
    color: #98D7EC;
}

#popup.container {
    width: 100%;
    padding: 10px 0px;
    margin: auto;
}
  
#popup.container .card {
    min-width: 425px;
    min-height: 140px;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--azul-escuro-pri-background);
    border-radius: 10px;
    border: 1px solid var(--azul-escuro-qua-background);
    margin: 0 auto;
    opacity: 70%;
    position: absolute;
    top: 20%;
    left: 10%;
    padding: 5px;
}

#popup form fieldset input {
    border-radius: 8px;
    border: 1px solid var(--azul-escuro-qua-background);
    padding: 6px 3px;
    margin: 0px 10px;
    background-color: var(--azul-escuro-sec-background);
}

#popup form button {
    margin: 10px;
    padding: 8px;
    border-radius: 8px;
    border: 0;
    background-color: var(--azul-escuro-qua-background);
    cursor: pointer;
    transition: all 0.4s;
    color: var(--branco);
}

#popup form button:hover {
    background-color: var(--azul-escuro-ter-background);
}

.aviao {
    position: absolute;
    width: 100px; /* Largura do avião */
    height: 50px; /* Altura do avião */
    background-color: red;
    top: -50px; /* Posição inicial no topo da tela */
    left: 100%; /* Inicialmente no meio da tela horizontalmente */
    transform: translateX(-50%); /* Centraliza horizontalmente */
    animation: voar 5s linear forwards; /* Animação com preenchimento no último quadro */
}

@keyframes voar {
    0% {
        transform: translateX(-50%) translateY(-50px); /* Posição inicial no topo */
    }
    50% {
        transform: translateX(-50%) translateY(50vh); /* Posição no meio da tela */
    }
    100% {
        transform: translateX(-50%) translateY(50vh); /* Posição no meio da tela */
    }
}