:root {
    --azul-escuro-pri-background : #010114;
    --azul-escuro-sec-background : #020227;
    --azul-escuro-ter-background : #011B3C;
    --azul-escuro-qua-background : #003552;

    --preto : #0000004d;

    --azul-claro-pri-background: #48CAE4;
    --azul-claro-sec-background: #90E0EF;
    --azul-claro-ter-background: #ADE8F4;
    --azul-claro-qua-background: #CAF0F8;

    --branco : #f4f4f4;
}

body {
    width: 100%;
    /* height: 100%; */
    overflow-x: hidden;
}

* {
    color: var(--branco);
}

#popup.container {
    width: 100%;
    padding: 10px 0px;
    margin: auto;
}
  
#popup.container .card {
    width: 400px;
    min-height: 140px;
    background-color: var(--azul-escuro-pri-background);
    border-radius: 10px;
    border: 1px solid var(--azul-escuro-qua-background);
    margin: 0 auto;
    opacity: 70%;
    position: absolute;
    top: 20%;
    left: 10%;
    padding: 5px;
}

#popup form {
    display: grid;
    grid-template: 
    "fielditems" 50%
    "fieldcirecao" 50%;
}

#popup form fieldset {
    border: none;
    grid-area: fielditems;
    display: grid;
    grid-template-columns: 45px 150px 45px 150px;
    align-items: center;
}

#popup form fieldset input {
    border-radius: 8px;
    border: 1px solid var(--azul-escuro-qua-background);
    padding: 6px 3px;
    margin: 0px 10px;
    background-color: var(--azul-escuro-sec-background);
}

#popup form button {
    margin: 10px;
    padding: 8px;
    border-radius: 8px;
    border: 0;
    background-color: var(--azul-escuro-qua-background);
    cursor: pointer;
    transition: all 0.4s;
    color: var(--branco);
}

#popup form button:hover {
    background-color: var(--azul-escuro-ter-background);
}

.aviao {
    position: absolute;
    width: 100px; /* Largura do avião */
    height: 50px; /* Altura do avião */
    background-color: red;
    top: -50px; /* Posição inicial no topo da tela */
    left: 100%; /* Inicialmente no meio da tela horizontalmente */
    transform: translateX(-50%); /* Centraliza horizontalmente */
    animation: voar 5s linear forwards; /* Animação com preenchimento no último quadro */
}

@keyframes voar {
    0% {
        transform: translateX(-50%) translateY(-50px); /* Posição inicial no topo */
    }
    50% {
        transform: translateX(-50%) translateY(50vh); /* Posição no meio da tela */
    }
    100% {
        transform: translateX(-50%) translateY(50vh); /* Posição no meio da tela */
    }
}